[package]
name = "weather_cli"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
colored = "3"
uuid = { version = "1.17", features = ["serde", "v4"] }
